body {
	margin: 20px;
	/*background: #AAAAAA;*/
	background-image: url(../img/nebula.jpg);
	font-family: Arial !important;
	color: white;
}


a#waitlist-link {
	cursor: pointer;
	color: rgba(22, 97, 126, 1);
	text-decoration: underline;
}
/*eve plasma #16617E*/
div#how {
	position: relative;
	margin-top: 50px;
	font-family: monospace;
	border: 1px solid #DDDDDD;
	background: rgba(22, 97, 126, 0.8);
	padding: 5px;
}

div#how-label {
	position: absolute;
	left: 10px;
	top: -15px;
	font-size: 160%;
	font-weight: bold;
	background: rgba(170, 170, 170, 0.29);
	border: 1px solid #DDDDDD;
	padding: 0 5px;
}

div.h3 {
	margin-top: 15px;
	font-weight: bold;
	font-size: 160%;
	text-decoration: underline;
}

div.h4 {
	margin-top: 10px;
	font-weight: bold;
	font-size: 130%;
}

#asciiList {
	width: 275px;
	min-height: 400px;
	resize: none;
}

#wrapper {
	width: 500px;
	border: 1px solid black;
	overflow: hidden;  /* add this to contain floated children */
}
#first {
	width: 300px;
	float:left; /* add this */
	/*border: 1px solid red;*/
}
#second {
	/*border: 1px solid green; */
	float: left; /* add this */
}

#container {
	width: 100%;
	/*border: 1px solid black;*/
	overflow: hidden; /* will contain if #first is longer than #second */
}
#sidebar {
	width: 300px;
	min-height: 100px;
	float:left; /* add this */
}
#list {
	/*border: 1px solid blue;*/
	float: left; /* add this */
}

.actions {
	margin: 5px;
	padding: 3px;
	border: 1px dashed white;
	background: rgba(22, 97, 126, 0.8);
}


div.floater {
	/*border: 1px solid green;*/
	float: left; /* add this */
	margin: 0;
	padding: 0;
}

div.float-container > div {
	/*border: 1px solid green;*/
	float: left; /* add this */
	margin: 0;
	padding: 0;
	/*background-color: rgba(0, 0, 0, 0.18);*/
}

img{display:block;}

.hidden {
	visibility: hidden;
}

.remove {
	display: none;
}

#footer {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	font-style: italic;
	padding: 1em;
}