body {
	margin: 20px;
	background: #AAAAAA;
	font-family: Arial !important;
}


a#waitlist-link {
	cursor: pointer;
	color: #0000FF;
	text-decoration: underline;
}

div#how {
	position: relative;
	margin-top: 50px;
	font-family: monospace;
	border: 1px solid #DDDDDD;
	padding: 5px;
}

div#how-label {
	position: absolute;
	left: 10px;
	top: -15px;
	font-size: 160%;
	font-weight: bold;
	background: #AAAAAA;
	border: 1px solid #DDDDDD;
	padding: 0 5px;
}

div.h3 {
	margin-top: 15px;
	font-weight: bold;
	font-size: 160%;
	text-decoration: underline;
}

div.h4 {
	margin-top: 10px;
	font-weight: bold;
	font-size: 130%;
}


#wrapper {
	width: 500px;
	border: 1px solid black;
	overflow: hidden;  /* add this to contain floated children */
}
#first {
	width: 300px;
	float:left; /* add this */
	/*border: 1px solid red;*/
}
#second {
	/*border: 1px solid green; */
	float: left; /* add this */
}

#container {
	width: 100%;
	/*border: 1px solid black;*/
	overflow: hidden; /* will contain if #first is longer than #second */
}
#sidebar {
	width: 300px;
	min-height: 100px;
	float:left; /* add this */
	padding: 3px;
}
#list {
	/*border: 1px solid blue;*/
	float: left; /* add this */
}


div.floater {
	/*border: 1px solid green;*/
	float: left; /* add this */
	margin: 0;
	padding: 0;
}

div.float-container > div {
	/*border: 1px solid green;*/
	float: left; /* add this */
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.18);
}

img{display:block;}

.hidden {
	visibility: hidden;
}

.remove {
	display: none;
}