<!doctype html>
<html lang="en" ng-app="testapp">
<head>
    <link rel="stylesheet" type="text/css" href="style/index.css" />
    <link rel="stylesheet" type="text/css" href="style/testing.css" />

    <meta charset="utf-8">
    <title>Nemesis: an EVE Online Waitlist Management Tool</title>
    <script src="js/raphael-2.1.2/raphael-min.js"></script>
	<script src="js/angular-1.2.9/angular.js"></script>
	<script src="js/angular-ui-notification.min.js"></script>
	<script src="js/controllers/testing.js"></script>
	<script src="js/services/API.js"></script>
	<script src="js/services/Minions.js"></script>
	<script src="js/EveIGB.js"></script>

</head>
<body ng-controller="testing">

<p>Just testing</p>
<div id="timer" n1b-timer start-date="startDate">

</div>


</div>
<div class="float-container">
	<div ng-repeat="item in list" class="float-container">
        <div class="safetybutton">
            <div id="button" ng-click="onItemClick(item)">

            </div>
            <div id="safety" ng-click="onClick(item)">

            </div>
        </div>
        <div class="timer" n1b-timer start-date="item.startDate">
	</div>

</div>

<div class="float-container">
    <div ng-repeat="fitting in fittings" class="textover">
        <img src="https://image.eveonline.com/Render/{{fitting.shipType}}_64.png"/>
        <p>{{fitting.role ? fitting.role : ''}}</p>
    </div>
</div>

<div id="footer">
	Nemesis: an EVE Online Waitlist Management Tool by Thomion, thanks to Titus Tallang for some css magic.
</div>
</body>
</html>