<table ng-hide="!waitlistVO" style="width:100%">
    <tr>
        <td colspan="5">
            <div class="float-container">
                <div>
                    <img title="Your friendly waitlist manager is {{waitlistVO.owner.characterName}}"
                         src="https://image.eveonline.com/Character/{{waitlistVO.owner.characterId}}_32.jpg"
                         ng-click="showCharInfo(waitlistVO.owner.characterId)"/>
                </div>
                <div>
                    <a href="{{getWaitlistUrl()}}">
                        <img title="Waitlist Share URL" height="32px" src="img/url.png"/>
                    </a>
                </div>
                <div ng-hide="!isOwner()">
                    <span editable-text="waitlistVO.waitlistName"
                          onbeforesave="updateName($data)">{{waitlistVO.waitlistName || 'Waitlist'}}</span>
                </div>
                <div ng-hide="isOwner()">
                    <span>{{waitlistVO.waitlistName || ''}}</span>
                </div>
                <div ng-hide="!authenticated">
                    <button ng-click="logout()">Logout {{me.characterName}}</button>
                    <button ng-click="leaveWaitlist()">Home</button>
                    <form action="#/waitlists" style="display: inline;">
                        <input type="submit" value="Home">
                    </form>
                </div>
                <div ng-hide="((!authenticated) || (waitlistVO))">
                    <button ng-click="newWaitlist()">Create Waitlist</button>
                </div>
                <div ng-hide="((!authenticated) || (!waitlistVO))">
                    <input type="text" name="fitting" placeholder="paste ship fitting here" ng-model="shipDNA"
                           required onclick="this.focus();this.select()">
                    <select ng-model="mRole"
                            ng-options="role.name group by role.type for role in roles">
                    </select>
                    <button ng-click="postFit()">x up!</button>
                    <a href="howto.html">?</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p>Statistics: {{stats}}</p>
        </td>
    </tr>
    <tr>
        <td>#</td>
        <td>Pilot</td>
        <td style="width:64px"></td>
        <td>Ship Fits</td>
        <td></td>
    </tr>
    <tr class="wlcompacttr" ng-repeat="item in waitlistVO.waitlist track by item.itemId">
        <td>{{$index+1}}</td>
        <td ng-click="EveIGB.showCharacter(item.characterId)">{{item.characterName}}</td>
        <td style="width:64px">
            <div class="float-container">
                <div>
                    <img title="{{item.corporationName}}"
                         ng-src="{{EveIMG.imgUrlCorporation(item.corporationId,32)}}"
                         ng-click="EveIGB.showCorporation(item.corporationId)"/></div>
                <div>
                    <img ng-class="{hidden: !item.allianceId}" title="{{item.allianceName}}"
                         ng-src="{{EveIMG.imgUrlAlliance(item.allianceId,32)}}"
                         ng-click="EveIGB.showAlliance(item.allianceId)"/>
                </div>
            </div>
        </td>
        <td>
            <div class="float-container">
                <div ng-repeat="fitting in item.fittings" class="textover" ng-click="showFitting(fitting)">
                    <img title="{{fitting.shipName}}" ng-src="{{EveIMG.imgUrlRender(fitting.shipType,32)}}"/>
                    <p>{{fitting.role ? fitting.role : ''}}</p>
                </div>
            </div>
        </td>
        <td><div class="float-container">
            <div ng-hide="!canRemove(item.characterId)">
                <img title="remove from list" src="img/close.png" height="32" ng-click="removeItem(item)"/>
            </div>
            <div ng-hide="!isOwner()">
                <img title="make boss" src="img/star.png" height="32" ng-click="makeBoss(item)"/>
            </div>
            <div>
                {{item.createdAt | date : 'HH:mm'}}
            </div>
            <div ng-hide="!isIGB || !isOwner()">
                <img title="send fleetinvite" src="img/add-user.png" height="32" ng-click="EveIGB.inviteToFleet(item.characterId)"/>
            </div>
            <div ng-hide="!isIGB">
                <img title="start conversation" src="img/start-conversation.png" height="32"
                     ng-click="EveIGB.startConversation(item.characterId)"/>
            </div>
            <div ng-class="{remove: !isIGB} || !isOwner()">
                <img title="send prepared eve-mail" src="img/send-mail.png" height="32"
                     ng-click="EveIGB.sendMail(item.characterId,'Your fit sucks!','...and you should feel bad!')"/>
            </div>
        </div></td>
    </tr>
</table>
<div ng-hide="waitlistVO || !authenticated">
    <a href="index.html">Join a waitlist or create a new one</a>
</div>